@page "/randomcar"

@inject HttpClient Http

<PageTitle>Random Car</PageTitle>

<h3>Random Car</h3>

<button class="btn btn-primary" @onclick="this.GetRandomCar">Get Random Car</button>

@if (!string.IsNullOrEmpty(this.car))
{
    <p>
        <img src="@(this.car)" alt="Random Car" />
    </p>
}

@code {
    private string car = string.Empty;

    private async Task GetRandomCar()
    {
        this.car = await this.Http.GetStringAsync("GetCarPicture");
    }
}
