@page "/counter"
@rendermode InteractiveServer

@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<PageTitle>Counter</PageTitle>

<h1>Counter @(this.name)</h1>

<p role="status">Current count: @(this.currentCount)</p>

<button class="btn btn-primary" @onclick="this.IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string? name;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await this.LocalStorage.SetItemAsync("name", "John Smith");
        this.name = await this.LocalStorage.GetItemAsync<string>("name");
    }

    private void IncrementCount()
    {
        this.currentCount++;
    }
}
