@page "/"
@rendermode InteractiveServer

@inject OpenTriviaService OpenTriviaService
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<PageTitle>Home</PageTitle>

<h1>Trivia Game</h1>

@if (this.categories.TriviaCategories.Any())
{
    <ul>
        @foreach (TriviaCategory category in this.categories.TriviaCategories.OrderBy(s => s.Name))
        {
            <li>@category.Name (@category.Id)</li>
        }
    </ul>
}

@code {
    private CategoryModel categories = new();
    private string? token;

    protected override async Task OnInitializedAsync()
    {
        this.categories = await this.OpenTriviaService.GetCategories();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        this.token = await this.LocalStorage.GetItemAsync<string>("token");
        if (string.IsNullOrEmpty(this.token))
        {
            this.token = await this.OpenTriviaService.GetToken();
            await this.LocalStorage.SetItemAsync("token", this.token);
        }
    }
}
