@page "/scoreboard"
@rendermode InteractiveServer

@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject OpenTriviaService OpenTriviaService
@inject NavigationManager NavigationManager

<PageTitle>Score Board</PageTitle>

<ScoreBoardComponent />

<button class="btn btn-primary" @onclick="NavigateToHome">Back to Home</button>
<button class="btn btn-danger" @onclick="this.ResetScores">Reset Scores</button>

@code {
    private async Task ResetScores()
    {
        await this.LocalStorage.RemoveItemAsync("score");
        await this.LocalStorage.RemoveItemAsync("token");
        this.NavigationManager.NavigateTo("/scoreboard", true);
    }

    private void NavigateToHome()
    {
        this.NavigationManager.NavigateTo("/");
    }
}
